@import '~node_modules/modern-normalize/modern-normalize.css';
li {
list-style:none;
}
h1,h2,h3,h4,h5,p {
    margin: 0;
}
.container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8px;
    padding-right: 8px;

}


body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.5%;
    line-height: 24px;
    & p {
        color: #2c2c2c;
    }
}
section {
    margin-bottom: 60px;
}
img {
        display: block;
        max-width: 100%;
    }