<footer class="footer">
    <div class="footer__content container">
    <div>
        <a href=""><img src="./images/icon/cat.svg" alt="кіт" width="24" height="24"></a>
        <p class="footer__text">Котики — то щастя.<br>Забирай, люби й ставай щасливішим.</p>
    </div>
    <div>
        <h3 class="social_text">Соцмережі</h3>
        <ul class="social__list">
            <li><a href=""><svg ><use href ="./images/icon/icon.svg#icon-instagram" ></use></svg></a></li>
            <li><a href=""><svg><use href ="./images/icon/icon.svg#icon-facebook" ></use></svg></a></li>
            <li><a href=""><svg><use href ="./images/icon/icon.svg#icon-tiktok" ></use></svg></a></li>
            <li><a href=""><svg><use href ="./images/icon/icon.svg#icon-instagram" ></use></svg></a></li>
            
        </ul>
    </div>
</div>
</footer>